body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

.name {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    font-size: 200%
}

.navtext {
    margin-left: 20px;
}

.question {
    text-align: center;
    font-size: 190%;
}

.desc {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 140%;
    text-align: center;
    min-height: 170px;
    max-height: 170px;
}

.q2 {
    text-align: center;
}

.brand-logo {
    margin-top: 5px;
}

.parallax-container {
    text-align: center;
    height: auto;
}

.text {
    font-weight: 400;
    font-size: 140%;
}

ul {
    font-size: 150%
}

.contact {
    font-weight: 400;
}