<head>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic|Source+Sans+Pro:400,200,200italic,300,300italic,400italic' rel='stylesheet' type='text/css'>
</head>

<body>
    <script>
        $(document).ready(function () {
            $('.scrollspy').scrollSpy();
        });

        $(document).ready(function () {
            $('.slider').slider({
                full_width: false
            });
        });


        // Pause slider
        $('.slider').slider('pause');
        // Start slider
        $('.slider').slider('start');
        // Next slide
        $('.slider').slider('next');
        // Previous slide
        $('.slider').slider('prev');

        $(document).ready(function () {
            $('.parallax').parallax();
        });
    </script>
    <div>
        <nav class="N/A transparent">
            <div class="nav-wrapper">
                <!--                <a href="#" class="brand-logo navtext">CBC</a>-->
                <a href="#" class="brand-logo navtext"><img src="logo.png"></a>
                <a href="#" class="brand-logo center black-text name ">Cloud Based Computing</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li class="navtext"><a href="#info" class="black-text">Info</a></li>
                    <li class="navtext"><a href="#prices" class="black-text">Prices</a></li>
                    <li class="navtext"><a href="#contact" class="black-text">Contact Us</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="slider">
        <ul class="slides">
            <li>
                <img src="beach.jpg">
                <!-- random image -->
                <div class="caption center-align">
                    <h3>Cloud Based Computing</h3>
                    <h5 class="light grey-text text-lighten-3">Anytime, Anywhere</h5>
                </div>
            </li>
            <li>
                <img src="port.jpg">
                <!-- random image -->
                <div class="caption left-align">
                    <h3>Fast and easy to set up</h3>
                    <h5 class="light grey-text text-lighten-3">Setup takes minutes with flawless results.</h5>
                </div>
            </li>
            <li>
                <img src="train.jpg">
                <!-- random image -->
                <div class="caption right-align">
                    <h3>24/7 customer service</h3>
                    <h5 class="light grey-text text-lighten-3">Our representatives work around the clock to make sure you get the best experience possible</h5>
                </div>
            </li>
            <li>
                <img src="pond.jpg">
                <!-- random image -->
                <div class="caption center-align">
                    <h3>Servers everywhere.</h3>
                    <h5 class="light grey-text text-lighten-3">We have servers set up in every major country so you get the best speeds possible.</h5>
                </div>
            </li>
        </ul>
    </div>

    <div>
        <div class="desc">
            <h1 class="question">What is Cloud Computing?</h1>
            <div class="container">
                <p>Cloud computing is the practice of using a network of remote servers hosted on the Internet to store, manage, and process data, rather than a local server or a personal computer.</p>
            </div>
        </div>
        <div class="q2 desc">
            <h1 class="question">Why should you choose us?</h1>
            <div class="container">
                <p>CBC offers the fastest and most powerful computing service with virtually no stutter or hiccups in the data transfer stage.</p>
            </div>
        </div>
        <div class="desc">
            <h1 class="question">What Countries are your services available?</h1>
            <div class="container">
                <p>We have servers in every major country around the world, so our service should be available in almost all countries, but certain laws in some countries stop us from operating in them. A full list of countries we're available in can be found <a href="#countries">here</a></p>
            </div>
        </div>
    </div>

    <div class="container">
        <hr/>
    </div>

    <div class="parallax-container scrollspy" id="info">
        <div class="container">
            <h1>Info</h1>
            <div class="row">
                <h3>How we started</h3>

                <p class="text">Lorem ipsum dolor sit amet, te sed suas fugit primis, te vis stet elit, cu his alia graecis. Te qui altera mollis, scripta nusquam ne vim. Id ferri sadipscing qui, dico vidit nostrud usu eu. Pri no elitr molestiae consectetuer, no mollis prompta copiosae vim, nam at hinc nusquam temporibus. Diceret tacimates persequeris at usu, ne usu meliore fastidii temporibus.
                </p>
            </div>
            <div class="row">
                <h3>Our goal</h3>

                <p class="text">Lorem ipsum dolor sit amet, te sed suas fugit primis, te vis stet elit, cu his alia graecis. Te qui altera mollis, scripta nusquam ne vim. Id ferri sadipscing qui, dico vidit nostrud usu eu. Pri no elitr molestiae consectetuer, no mollis prompta copiosae vim, nam at hinc nusquam temporibus. Diceret tacimates persequeris at usu, ne usu meliore fastidii temporibus.
                </p>
            </div>
            <div class="row scrollspy" id="countries">
                <h3>Countries were available in</h3>
                <div class="col s4">
                    <ul>
                        <li>USA</li>
                        <li>Russia</li>
                        <li>Germany</li>
                        <li>United Kingdom</li>
                        <li>France</li>
                        <li>Belgium</li>
                        <li>Netherlands</li>
                        <li>Spain</li>
                        <li>Poland</li>
                        <li>Portugal</li>
                    </ul>
                </div>

                <div class="col s4">
                    <ul>
                        <li>Japan</li>
                        <li>Lithuania</li>
                        <li>Latvia</li>
                        <li>Estonia</li>
                        <li>Belarus</li>
                        <li>Ukraine</li>
                        <li>India</li>
                        <li>Australia</li>
                        <li>New Zealand</li>
                        <li>Singapore</li>
                    </ul>
                </div>
                <div class="col s4">
                    <ul>
                        <li>South Korea</li>
                        <li>Brazil</li>
                        <li>Argentina</li>
                        <li>Mexico</li>
                        <li>Peru</li>
                        <li>South Africa</li>
                        <li>Philippines</li>
                        <li>Nigeria</li>
                        <li>Papa New Guinea</li>
                        <li>Israel</li>
                    </ul>
                </div>
            </div>
            <hr/>
        </div>
    </div>

    <div class="parallax-container container scrollspy" id="prices">
        <div class="row">
            <h1>Prices</h1>
            <img src="Prices.PNG">
        </div>
        <hr/>
    </div>

    <div class="parallax-container container scrollspy" id="contact">
        <div class="row">
            <h1>Contact Us</h1>
            <div class="container contact">
                <div class="row">
                    <div class="col s6">
                        <div class="row">
                            <h4 class="name">(555)555-5555</h4>
                        </div>
                        <div class="row">
                            <h4 class="name">121 N. street Ave</h4>
                        </div>
                    </div>
                    <div class="col s6">
                        <div class="row">
                            <h4 class="name">email@email.com</h4>
                        </div>
                        <div class="row">
                            <h4 class="name">Pasadena, Ca</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="page-footer #1565c0 blue darken-3">
        <div class="footer-copyright">
            <div>
                @ 2016 Cloud Based Computing Inc.
            </div>
        </div>
    </footer>
</body>